    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Slabo+27px&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        background-image: url(image/abstract-background-with-red-lines.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    /*body {
    margin: 30px;
}*/
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-align: center;
        font-size: 40px;
        color: #000000;
        display: block;
        padding: 10px;
    }
    
    #card {
        margin: auto;
    }
    
    main {
        background-color: #ffffff;
        padding: 30px;
        max-width: 100%;
        text-align: center;
        box-shadow: 5px 5px 5px #000000;
    }
    
    main>p {
        margin-top: 8px;
        padding-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000000;
        line-height: 1.6em;
    }
    
    .conteiner {
        margin: auto;
        justify-content: center;
        display: block;
    }
    
    .estilo {
        background: linear-gradient(0deg, rgba(27, 24, 65, 1) 11%, rgba(167, 18, 83, 1) 53%, rgba(201, 55, 55, 1) 80%);
        border-radius: 10px;
        height: 3px;
        text-align: justify;
        color: #ffffff;
        margin: 5px;
    }
    
    nav>p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        margin: 15px;
    }
    
    a {
        justify-content: center;
        display: inline-flexbox;
        padding: 10px;
        text-decoration: none;
    }
    /*.ajuste {}*/
    
    a>img:hover {
        transition-duration: 2s;
        animation: pulse 2s infinite;
        border-radius: 30px;
    }
    /*efeito de animação nos icones */
    
    @keyframes pulse {
        0% {
            transform: scale(0.98);
            box-shadow: 0 0 0 0 rgba(161, 27, 27, 0.7);
        }
        70% {
            transform: scale(1.1);
            box-shadow: 0 0 0 10px rgba(114, 16, 41, 0.363);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }
    
    footer {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #000000;
        color: #ffffff;
        padding: 20px;
        padding-bottom: 20px;
        display: block;
        box-shadow: 5px 5px 5px #000000;
    }
    
    b:hover {
        color: rgb(223, 203, 241);
        transition: 0.3s;
    }
    /* i {}*/
    
    @media screen and (max-widht:720px) {
        main {
            /*alterar aqui depois para teste de responsivo*/
            padding: 20px;
            width: 50px;
            height: 30px;
        }
    }